$primary1: #f13c6e;
$primary2: #ffffff;
$primary3: #e5e5e5;

$title-text-color: #000000;
$link-text-color: #000000;
$main-text-color: #ffffff;
$info-text-color: #333333;

$super-product-background-height: 604px;
$copyright-background: #efefef;
$copyright-text-color: #828282;
$wrapper-width: 1110px;
$sponsor-item-width: 149px;
$sponsor-item-height: 49px;
$info-block-input-text-color: #c4c4c4;
$info-block-input-height: 35px;
$product-card-image-width: 80%;
$product-card-image-heigth: 166px;
$social-link-size: 45px;
$social-link-icon-size: 60%;
